[DEFAULT]
api_paste_config = /etc/vendordata/api-paste.ini
auth_strategy = keystone
providers = vendordata.providers.cloudstor.CloudStorProvider,vendordata.providers.keystone.KeystoneProvider

[keystone_authtoken]
auth_url=http://127.0.0.1:5000/
www_authenticate_uri=http://127.0.0.1:35357/
auth_type=password
username=nova
password=test
project_name=service
user_domain_name=Default
project_domain_name=Default
service_token_roles_required=True
memcached_servers = localhost:11211

[service_credentials]
auth_url=http://127.0.0.1:5000/
www_authenticate_uri=http://127.0.0.1:35357/
auth_type=password
username=nova
password=test
project_name=service
user_domain_name=Default
project_domain_name=Default
